@import "../../theme";

.panel {
  position: relative;
  background-color: $red-70;
  padding: 20px;
  .x-button {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 1px;
  }
  .message {
    color: #fff;
  }
}
