@import "../../theme";

.nav-wrapper {
  position: fixed;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.nav-wrapper .nav-inner-wrapper {
  transform: translateY(0%);
  transition: 0.5s;
  position: relative;
}

.nav-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav {
  background: $bone-white;
}

nav.scrolled {
  display: flex;
  flex-direction: row;
}

.menu {
  width: 85%;
  max-width: 85%;
  margin-left: 0;
  margin-right: auto;
}

.scrolled img {
  margin-left: 95px;
  width: 70px;
}

.title {
  margin: 20px;
  font-weight: 500;
}

@media screen and #{$medium-mobile}{
  .scrolled img {
    margin-left: 50px;
  }
}
